.game {
  display: flex;
  width: 100%;
  height: 100vh;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  background-color: #F5F5F7;
  padding: 70px 0;
}

.question,
.variants {
  padding-left: 80px;
}

.question h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  color: #1C1C21;
}

.variants {
  display: flex;
  flex-wrap: wrap;
}

.variant {
  background: url(../../images/Inactive.png) no-repeat;
  background-size: 100% auto;
  height: 70px;
  position: relative;
  width: 40%;
  background-color: #F5F5F7;
  border: none;
  outline-width: 0;
  margin: 10px 0 10px 0;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 23.2px;
  font-weight: 400;
  color: #1C1C21;
  transition: border 300ms;
}

.variant-lettert {
  position: absolute;
  left: 11%;
  font-style: normal;
  font-weight: 600;
  color: #FF8B37;
}

.variant-value {
  margin-left: 20%;
}

.variant:hover {
  background-image: url(../../images/Hover.png);
}

.correct {
  background-image: url(../../images/Correct.png) !important;
}

.selected {
  background-image: url(../../images/Selected.png) !important;
}

.wrong {
  background-image: url(../../images/Wrong.png) !important;
}

.money-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

.money {
  background: url(../../images/earned.png) no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #1C1C21;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-question {
  background-image: url(../../images/current-question.png);
  color: #FF8B37;
}

.earned-money {
  color: #D0D0D8;
}